HONEYPOT_TOKEN=token
HONEYPOT_CHANNEL=1403045820881698918
HONEYPOT_CAPTCHA_ENABLED=true

# Should be setup in the docker compose DATABASE_URL=postgres://honey:pot@localhost/
HONEYPOT_ACTIVE_MEMBER_ROLE=role_id
HONEYPOT_MODERATOR_CHANNEL=moderator_channel_id
